kind: workload
apiVersion: cpln.io/v1
metadata:
  name: mario
  namespace: default
org: develeap
gvc: neolithics-demo-gvc
description: Mario demo workload
spec:
  type: serverless
  containers:
    - name: mario
      image: gcr.io/google-samples/hello-app:1.0
      cpu: 200m
      memory: 256Mi
      ports:
        - number: 8080
          protocol: http
  defaultOptions:
    autoscaling:
      maxScale: 3
      minScale: 1
      metric: concurrency
      target: 100
      maxConcurrency: 1000
      scaleToZeroDelay: 300
    capacityAI: true
    suspend: false
    timeoutSeconds: 30
  firewallConfig:
    external:
      inboundAllowCIDR:
        - 0.0.0.0/0
    internal:
      inboundAllowType: none
